/* Empty. Add your own CSS if you like */
.noresumido{
    background-color: #fdf2f1 !important; 
}
.noresumido .item-content{
    background: transparent;
}
ion-content.inactivo{
    opacity: 0.4;
    background-color: #fdf2d1;
}
.mi_contenedor{
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}
.mi_contenedor h2{
    text-align: center;
}
.img_rounded{
    border-radius: 8px;
    overflow: hidden;
    width: 214px;
    height: 236px;
    margin: 0 auto;
}
.img_rounded img{
    width: 100%;
}
.rotulo{
    color: #666;
}
.valor{
    color: #333;
    font-size:1.4em;
    font-weight: bold;
}