<ion-view view-title="Info">
<ion-content class="padding">
   <h2>Info</h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus soluta in ut dicta odit quas nostrum recusandae est eum vero, nulla inventore similique adipisci quasi voluptatem, aut harum quaerat natus?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae facere ipsum maiores eligendi quia porro, cum consequuntur laudantium, aspernatur ullam iusto necessitatibus odit non, eius recusandae. Rerum quis, quos sapiente!
</ion-content>
</ion-view>